@import 'values/colors';
@import 'values/breakpoints';

.main {
  &-left {
    flex: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include tablet {
      max-width: 100%;
    }
  }

  &-right {
    flex: 2;
    background-color: $COLOR-WHITE;
  }
}
