@import 'values/mixins';
@import 'values/colors';

.select__input {
  display: flex;
  flex-direction: column;

  &__label {
    margin: 4px 0;
  }

  &__select {
    @include styled-input;

    &:focus {
      outline: none;
      border: 2px solid $COLOR-ORANGE;
    }

    &-medium {
      font-size: x-large;
    }
  }

  &-error {
    color: $COLOR-RED;
  }
}