@import 'values/mixins';
@import 'values/colors';

.select__input {
  display: flex;
  flex-direction: column;

  &__label {
    margin: 4px 0;
  }

  &__select {
    @include styled-input;
    transition: all 0.2s ease-in-out;
    color: #333;
    letter-spacing: 0.3px;

    &:focus {
      outline: none;
      border: 2px solid $COLOR-ORANGE;
      box-shadow: 0 0 4px rgba($COLOR-ORANGE, 0.3);
    }

    &-medium {
      font-size: large;
    }
  }

  &-error {
    color: $COLOR-RED;
  }
}
