@import 'values/colors';

.advantages__list {
  padding-left: 16px;

  &__item {
    font-size: 18px;
    font-style: italic;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;

    svg {
      font-size: 22px;
      color: darken($COLOR-ORANGE, 10%);
    }
  }
}
