@import "values/colors";

.advantages__list {
  &__item {
    font-size: large;
    font-style: italic;
    display: inline-flex;
    gap: 4px;
    align-items: center;

    svg {
      font-size: larger;
      color: $COLOR-ORANGE;
    }

  }
}