@import 'values/mixins';
@import 'values/colors';

.admin__panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &__options {
    @include styled-options;
  }
}
