@import 'values/colors';
@import 'values/mixins';

.button {
  text-align: center;
  margin: 8px;

  &__input {
    color: $COLOR-WHITE;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    background: $COLOR-RUSTY-ORANGE;
    background: linear-gradient(0deg, $COLOR-RUSTY-ORANGE 0%, $COLOR-ORANGE 100%);
    border: none;

    &:hover {
      background: $COLOR-SUNNY-COPPER;
      background: linear-gradient(0deg, $COLOR-SUNNY-COPPER 0%, $COLOR-ORANGE 100%);
    }

    &-secondary {
      color: $COLOR-ORANGE;
      font-weight: 600;
      @include styled-border;
      background: none;

      &:hover {
        color: $COLOR-WHITE;
        background: $COLOR-ORANGE;
      }

      &:active {
        background-color: $COLOR-RUSTY-ORANGE;
      }
    }

    &-danger {
      border: 1px solid $COLOR-RED;
      color: $COLOR-RED;
      font-weight: 600;
      background: none;

      &:hover {
        color: $COLOR-WHITE;
        background: $COLOR-RED;
      }
    }

    &__submit {
      margin-top: 16px;
    }
  }
}