@import "values/colors";

.login-form {
  &--p {
    text-align: center;
  }

  &--link {
    color: darkblue;
    font-style: italic;
    cursor: pointer;
    margin-left: 4px;
  }

  &--error {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: $COLOR-RED;
  }
}