@import "values/colors";

.login__form {
  &__p {
    text-align: center;
  }

  &__link {
    color: darkblue;
    font-style: italic;
    cursor: pointer;
    margin-left: 4px;
  }

  &-error {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: $COLOR-RED;
  }
}