@import "values/colors";

.profile__button {
  height: 13vw;
  max-height: 150px;
  width: 18vw;
  max-width: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid $COLOR-ORANGE;
  border-radius: 8px;
  color: $COLOR-ORANGE;
  font-size: medium;

  &__svg {
    font-size: xxx-large;
  }

  &:hover {
    background-color: $COLOR-ORANGE;
    color: $COLOR-WHITE;
  }

  &:active {
    background-color: $COLOR-RUSTY-ORANGE;
  }
}