@import 'values/colors';

.reservation__info__item {
  &__h4 {
    margin: 0;
  }

  &__p {
    margin: 4px 0;
  }

  &__h5 {
    margin: 2px 0 16px 0;
    color: $COLOR-ORANGE;
    cursor: pointer;
  }
}