@import 'values/mixins';
@import 'values/colors';

.text__area {
  display: flex;
  flex-direction: column;

  &-error {
    color: $COLOR-RED;
  }

  &__label {
    margin: 4px 0;
  }

  &__input {
    @include styled-input;
    min-height: 100px;
    resize: vertical;

    &:focus {
      outline: none;
      border: 2px solid $COLOR-ORANGE;
    }
  }
}