@import "values/colors";

.cars {
  &__content__box {
    width: 100%;
  }

  &__filters {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    &__container {
      display: inline-flex;
    }

    &__price {
      background: none;
      color: $COLOR-BLACK;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        background: none;
      }
    }
  }
}