@import 'values/mixins';
@import 'values/colors';

.text-input{
  display: flex;
  flex-direction: column;

  &--label {
    margin: 4px 0;
  }

  &--input {
    @include styled-input;

    &:focus {
      outline: none;
      border: 2px solid $COLOR-ORANGE;
    }

    &__medium {
      font-size: x-large;
    }

    &__error {
      border: 2px solid $COLOR-RED;
    }
  }

  &--error {
    color: $COLOR-RED;
  }
}