@import "values/colors";

.reservation {
  &__form {
    background-color: $COLOR-WHITE;
  }

  &__captcha {
    margin-top: 16px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__content {
    &-left {
      flex: 3;
    }

    &-right {
      min-width: 300px;
    }
  }
}