@import "values/colors";

.reservation {

  &--form {
    background-color: $COLOR-WHITE;
  }

  &--captcha{
    margin-top: 16px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &--content-left {
    flex: 3;
  }

  &--content-right {
    min-width: 300px;
  }
}