@import 'values/colors';

.reservation-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--total {
    background: $COLOR-SUNNY-COPPER;
    background: linear-gradient(0deg, $COLOR-SUNNY-COPPER 0%, $COLOR-ORANGE 100%);
    color: white;
    padding: 8px;

    h2 {
      margin: 4px 0;
    }

    p {
      margin: 2px 0;
      font-size: small;
      font-style: italic;
    }
  }

  &--h4 {
    margin: 0;
  }

  &--p {
    margin: 4px 0;
  }

  &--h5 {
    margin: 2px 0 16px 0;
    color: $COLOR-ORANGE;
    cursor: pointer;
  }
}