@import "values/mixins";

.car-item {
  max-height: 250px;
  width: 212px;
  text-align: center;
  @include styled-border;

  &--image {
    height: 150px;
    width: 100%;
    object-fit: fill;
    border-radius: 6px 6px 0 0;
  }

  &--title {
    font-size: 18px;
    font-weight: bold;
  }

  &--price {
    margin: 0 auto;
  }
}