@import "values/colors";

.navbar-menu {
  display: flex;

  &--auth {
    padding: 0 8px;
  }
}

.navbar {
  max-width: 100%;
  background-color: $COLOR-BEIGE;

  &-content {
    display: flex;
    justify-content: space-between;
    margin: 4px auto;
    max-width: 80%;
    align-items: center;

    a {
      color: $COLOR-BLACK;
      text-decoration: none;
      display: inline-block;
    }

    &--link {
      padding: 0 10px;
      text-align: center;
      line-height: 60px;
      font-size: 18px;

      &:hover {
        background: $COLOR-RUSTY-ORANGE;
        background: linear-gradient(0deg, $COLOR-RUSTY-ORANGE 0%, $COLOR-ORANGE 100%);
        color: $COLOR-WHITE;
      }

      &__icon {
        width: 50px;
        font-size: 18px;
      }

      &.active {
        background-color: $COLOR-SAGE;
        color: $COLOR-ORANGE;
      }
    }
  }
}
