.contact__mail__form {
  display: flex;
  flex-direction: column;

  &__captcha {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-error {
      color: red;
    }
  }

  &__row {
    justify-content: center;
    display: inherit;
    gap: 8px;
  }
}