$COLOR-SAGE: #DCE4C9;
$COLOR-BEIGE: #F5F5DC;
$COLOR-BROWN: #B6A28E;
$COLOR-ORANGE: #E07B39;
$COLOR-ORANGE-05: rgba(224, 123, 57, 0.5);
$COLOR-RUSTY-ORANGE: #70462a;
$COLOR-SUNNY-COPPER: #A55B29;
$COLOR-RED: #FF0000;
$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;