@import './colors';
@import 'values/breakpoints';

@mixin styled-border {
  border: 2px solid $COLOR-ORANGE;
  border-radius: 8px;
}

@mixin styled-title {
  font-size: 26px;
  font-weight: bold;
  padding: 4px 0;
  color: $COLOR-ORANGE;
}

@mixin styled-input {
  border: 2px solid $COLOR-SAGE;
  border-radius: 4px;
  background-color: $COLOR-WHITE;
  padding: 4px;
  appearance: none;
}

@mixin styled-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 16px 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
