@import "values/colors";
@import "values/mixins";

header {
  width: 100%;
  background-color: $COLOR-BEIGE;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4px auto;
  max-width: 80%;
}

.logo {
  img {
    width: 200px;
    height: 200px;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 16px;

  &-info {
    text-align: right;

    &--p {
      margin: 2px 0;

      &__title {
        @include styled-title;
        margin: 2px 0;
      }

      &__small {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  &-banner {
    padding: 4px 16px;
    @include styled-border;

    &__email {
      font-style: italic;
      text-decoration: underline;
    }

    &__phone {
      font-weight: bold;
    }

    svg {
      font-size: 18px;
      margin-right: 4px;
    }
  }
}