@import 'values/colors';
@import 'values/mixins';
@import 'values/breakpoints';

.header {
  width: 100%;
  background-color: $COLOR-BEIGE;

  @include mobile {
    display: none;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 16px;

    &__info {
      text-align: right;

      &__p {
        margin: 2px 0;

        &-title {
          @include styled-title;
          margin: 2px 0;
        }

        &-small {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    &__banner {
      padding: 4px 16px;
      @include styled-border;

      &__email {
        font-style: italic;
        text-decoration: underline;
      }

      &__phone {
        font-weight: bold;
      }

      &__svg {
        font-size: 18px;
        margin-right: 4px;
      }

      @include tablet {
        display: none;
      }
    }
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4px auto;
  max-width: 80%;
}

.logo {
  &__img {
    width: 200px;
    height: 200px;
  }
}
