@import 'values/colors';
@import 'values/breakpoints';

.table__of__cars {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
}

.car__list__item {
  display: flex;
  align-items: center;
  border: solid $COLOR-BEIGE;
  border-width: 2px 4px;

  &__h3 {
    color: $COLOR-ORANGE;
    font-size: 22px;
    margin: 8px 0;
  }

  &__b {
    font-size: large;
  }

  &__p {
    margin: 4px 0;
    font-size: small;
  }

  &-left {
    padding: 8px;
    flex-direction: column;
    text-align: center;

    &__image {
      max-width: 150px;
    }
  }

  &-center {
    padding-left: 16px;
    flex: 1;
    flex-direction: column;
  }

  &-right {
    text-align: center;
    flex: 1;
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;

    &-center,
    &-right {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }
}
